body {
    color:rgb(255, 255, 255);
    background: rgb(7, 7, 7);
}


header {
    border-bottom: solid 1px white;
    margin: 50px;
    font-size: 32px;
    padding:10px;
}


section {
    background: rgb(31, 31, 31);
    padding-bottom:80px;
    padding-top: 80px;
}





 